# EDIT YOUR CSV FILE BEFORE CONTINUING
### USE File ./CPIsanfrancisco.csv as an example for format after conversion
##### ./CPIsanfrancisco.csv is the format that the file should start as
1. **Convert** from the City PDF to CSV(Using https://www.zamzar.com/convert/pdf-to-csv/ )
2. **Upload** the file to Jupider Notebook the csv file in Jupider Notebook
2. **Open** The uploaded CSV file and do the following:
    3. **Delete everything above** the line ",Indexes,,,Percent change from-,," <-- Make sure this is the top line
    4. **Delete everything below** the line "All items less food and energy" and the numbers that follow (The immediate line below should start with "Footnotes") 
        1. ^ Make sure this line will be the last line
5. **Save** the changes to your csv file
6. Change the file name below (*in read_csv*) to the name of **your saved** CSV file
7. Also **AT THE BOTTOM** change the export file name to a different name from your original CSV file

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../Initial_Data_Files/CPI_US_APR19-20.csv')

In [3]:
df = df.iloc[:, 0:16]

In [4]:
df.columns = ['INDENT', 'Expenditure Category', 'remove', 'IDX-APR-2019', 'IDX-MAY-2019', 'IDX-JUN-2019', 'IDX-JUL-2019', 'IDX-AUG-2019', 'IDX-SEP-2019', 'IDX-OCT-2019', 'IDX-NOV-2019', 'IDX-DEC-2019', 'IDX-JAN-2020', 'IDX-FEB-2020', 'IDX-MAR-2020',  'IDX-APR-2020']

In [5]:
df = df.iloc[6:, 0:16]

In [6]:
df.head(15)

,INDENT,Expenditure Category,remove,IDX-APR-2019,IDX-MAY-2019,IDX-JUN-2019,IDX-JUL-2019,IDX-AUG-2019,IDX-SEP-2019,IDX-OCT-2019,IDX-NOV-2019,IDX-DEC-2019,IDX-JAN-2020,IDX-FEB-2020,IDX-MAR-2020,IDX-APR-2020
6,0,All items,100.000,255.548,256.092,256.143,256.571,256.558,256.759,257.346,257.208,256.974,257.971,258.678,258.115,256.389
7,1,Food,13.862,257.708,258.110,258.064,258.274,258.410,258.943,259.632,259.467,259.823,261.057,261.876,262.708,266.757
8,2,Food at home,7.652,241.878,242.145,241.407,241.359,241.153,241.543,242.340,241.726,241.750,243.110,244.054,245.163,251.717
9,3,Cereals and bakery products,0.989,276.640,277.795,276.891,277.490,276.619,277.308,276.470,276.166,275.036,275.916,276.641,277.646,285.160
10,4,Cereals and cereal products,0.304,228.745,228.305,230.024,230.425,228.385,226.997,226.009,224.887,224.896,226.530,226.169,228.033,232.267
11,5,Flour and prepared flour mixes,0.042,236.002,238.911,238.545,241.126,239.327,238.686,232.780,224.422,225.638,235.711,234.170,235.939,238.985
12,5,Breakfast cereal(4),0.140,224.059,222.799,223.984,224.036,220.688,220.068,220.408,218.774,221.618,219.421,217.695,221.578,224.844
13,5,"Rice, pasta, cornmeal(4)",0.123,237.898,237.412,240.598,240.739,240.329,237.621,236.496,238.499,234.282,237.732,239.446,238.912,244.852
14,6,Rice(4)(5)(6),NaN,165.381,162.269,164.456,164.408,162.429,161.998,162.585,161.442,158.079,159.609,159.819,159.431,165.218
15,5,Bakery products(4),0.684,304.224,306.374,303.823,304.540,304.417,306.410,305.674,305.890,304.051,304.479,305.850,306.338,315.786
16,6,Bread(4)(5),0.196,184.384,184.131,182.206,183.514,182.235,185.084,185.162,187.598,186.499,185.053,186.696,187.308,194.227
17,7,White bread(4)(6),NaN,333.870,333.139,329.986,329.424,329.145,336.742,336.293,341.143,339.524,338.123,340.669,343.249,355.262
18,7,Bread other than white(4)(6),NaN,359.067,359.966,355.253,360.225,355.828,358.000,359.226,362.753,361.061,357.306,360.304,361.991,374.510
19,6,"Fresh biscuits, rolls, muffins(5)",0.098,179.427,181.098,178.226,177.300,178.077,179.626,180.528,180.255,180.359,179.172,179.860,179.659,186.219
20,6,"Cakes, cupcakes, and cookies",0.177,290.258,292.291,291.086,292.662,292.710,292.693,289.839,294.040,287.726,292.549,288.073,292.379,296.846

In [7]:
df = df[df['INDENT'].notna()]

In [8]:
df = df.astype({'INDENT': 'int64'})
df.dtypes

INDENT                   int64
Expenditure Category    object
remove                  object
IDX-APR-2019            object
IDX-MAY-2019            object
IDX-JUN-2019            object
IDX-JUL-2019            object
IDX-AUG-2019            object
IDX-SEP-2019            object
IDX-OCT-2019            object
IDX-NOV-2019            object
IDX-DEC-2019            object
IDX-JAN-2020            object
IDX-FEB-2020            object
IDX-MAR-2020            object
IDX-APR-2020            object
dtype: object

In [9]:
df = df[df.INDENT <= 3]

In [10]:
df = df.reset_index(drop = True)

In [11]:
df.head(20)

,INDENT,Expenditure Category,remove,IDX-APR-2019,IDX-MAY-2019,IDX-JUN-2019,IDX-JUL-2019,IDX-AUG-2019,IDX-SEP-2019,IDX-OCT-2019,IDX-NOV-2019,IDX-DEC-2019,IDX-JAN-2020,IDX-FEB-2020,IDX-MAR-2020,IDX-APR-2020
0,0,All items,100.000,255.548,256.092,256.143,256.571,256.558,256.759,257.346,257.208,256.974,257.971,258.678,258.115,256.389
1,1,Food,13.862,257.708,258.110,258.064,258.274,258.410,258.943,259.632,259.467,259.823,261.057,261.876,262.708,266.757
2,2,Food at home,7.652,241.878,242.145,241.407,241.359,241.153,241.543,242.340,241.726,241.750,243.110,244.054,245.163,251.717
3,3,Cereals and bakery products,0.989,276.640,277.795,276.891,277.490,276.619,277.308,276.470,276.166,275.036,275.916,276.641,277.646,285.160
4,3,"Meats, poultry, fish, and eggs",1.687,249.203,250.356,249.231,250.033,249.277,249.740,250.592,250.491,252.893,252.905,253.396,254.724,266.263
5,3,Dairy and related products,0.778,217.510,217.841,217.433,217.626,218.758,219.771,220.738,221.515,221.924,223.035,224.443,225.627,228.755
6,3,Fruits and vegetables,1.323,303.503,302.352,298.611,299.350,298.600,297.309,301.318,297.472,297.105,301.679,299.817,299.641,304.809
7,3,Nonalcoholic beverages and beverage materials,0.923,170.727,171.260,170.230,169.685,170.067,170.630,170.842,170.675,170.006,172.313,173.194,174.454,179.235
8,3,Other food at home,1.954,211.078,210.815,212.056,210.941,210.841,211.490,211.492,211.250,210.432,210.763,213.215,214.565,219.233
9,2,Food away from home(4),6.210,282.798,283.394,284.316,284.891,285.507,286.246,286.791,287.255,288.078,289.137,289.781,290.216,290.639
10,3,Full service meals and snacks(4)(5),3.129,175.083,175.517,176.493,176.832,177.263,177.743,178.117,178.585,178.981,179.613,180.011,179.940,179.359
11,3,Limited service meals and snacks(4)(5),2.682,181.466,181.813,181.897,182.264,182.556,182.911,183.223,183.320,184.074,184.856,185.342,186.020,187.311
12,3,Food at employee sites and schools(5),0.145,180.409,179.958,180.117,180.424,181.210,182.622,182.855,182.993,183.089,183.357,183.257,183.737,183.714
13,3,Food from vending machines and mobile vendors(...,0.081,163.756,165.770,166.172,167.061,168.517,168.777,168.681,169.395,169.431,169.929,169.364,169.643,169.640
14,3,Other food away from home(4)(5),0.172,195.170,194.857,196.262,196.711,196.744,197.715,198.339,198.339,198.310,198.249,198.475,198.759,199.425
15,1,Energy,6.256,222.499,225.773,221.373,222.492,216.978,215.418,216.351,214.636,212.982,213.043,208.354,199.573,183.081
16,2,Energy commodities,3.174,253.547,259.310,246.818,248.629,238.431,236.493,240.279,237.972,234.651,232.906,223.913,207.215,174.001
17,3,Fuel oil and other fuels,0.146,288.823,285.711,274.837,274.328,269.636,272.271,277.631,281.017,287.781,289.038,274.060,248.114,221.341
18,3,Motor fuel,3.028,249.550,255.584,243.163,245.042,234.746,232.658,236.346,233.851,230.189,228.343,219.677,203.512,170.378
19,2,Energy services,3.082,201.341,202.101,206.219,206.651,205.900,204.660,202.556,201.387,201.446,203.318,202.712,201.439,200.899

In [12]:
df_front = df.iloc[:7, :]

In [13]:
df_front.head(10)

,INDENT,Expenditure Category,remove,IDX-APR-2019,IDX-MAY-2019,IDX-JUN-2019,IDX-JUL-2019,IDX-AUG-2019,IDX-SEP-2019,IDX-OCT-2019,IDX-NOV-2019,IDX-DEC-2019,IDX-JAN-2020,IDX-FEB-2020,IDX-MAR-2020,IDX-APR-2020
0,0,All items,100.000,255.548,256.092,256.143,256.571,256.558,256.759,257.346,257.208,256.974,257.971,258.678,258.115,256.389
1,1,Food,13.862,257.708,258.110,258.064,258.274,258.410,258.943,259.632,259.467,259.823,261.057,261.876,262.708,266.757
2,2,Food at home,7.652,241.878,242.145,241.407,241.359,241.153,241.543,242.340,241.726,241.750,243.110,244.054,245.163,251.717
3,3,Cereals and bakery products,0.989,276.640,277.795,276.891,277.490,276.619,277.308,276.470,276.166,275.036,275.916,276.641,277.646,285.160
4,3,"Meats, poultry, fish, and eggs",1.687,249.203,250.356,249.231,250.033,249.277,249.740,250.592,250.491,252.893,252.905,253.396,254.724,266.263
5,3,Dairy and related products,0.778,217.510,217.841,217.433,217.626,218.758,219.771,220.738,221.515,221.924,223.035,224.443,225.627,228.755
6,3,Fruits and vegetables,1.323,303.503,302.352,298.611,299.350,298.600,297.309,301.318,297.472,297.105,301.679,299.817,299.641,304.809

In [14]:
df_rest = df.iloc[7:, :]

In [15]:
df_apparel = df.iloc[25:26, :]

In [16]:
df_rest = df_rest[df_rest.INDENT <= 1]

In [17]:
df = pd.concat([df_front, df_rest, df_apparel])

In [18]:
df = df.drop(columns=['INDENT', 'remove'])

In [19]:
df = df.reset_index(drop = True)

In [20]:
df.to_csv('./US_General_CPI_ARP19-20.csv', index = False)

In [21]:
df = df.iloc[[0, 1, 3, 4, 5, 6, 21, 25, 29, 28, 22, 23, 32]]
df = df.reset_index(drop = True)

In [22]:
df.dtypes

Expenditure Category    object
IDX-APR-2019            object
IDX-MAY-2019            object
IDX-JUN-2019            object
IDX-JUL-2019            object
IDX-AUG-2019            object
IDX-SEP-2019            object
IDX-OCT-2019            object
IDX-NOV-2019            object
IDX-DEC-2019            object
IDX-JAN-2020            object
IDX-FEB-2020            object
IDX-MAR-2020            object
IDX-APR-2020            object
dtype: object

In [23]:
df['Expenditure Category'] = df['Expenditure Category'].str.strip('5()')

In [24]:
df = df.astype({'Expenditure Category': str, 'IDX-APR-2019': 'float64', 'IDX-MAY-2019': 'float64', 'IDX-JUN-2019': 'float64', 'IDX-JUL-2019': 'float64', 'IDX-AUG-2019': 'float64', 'IDX-SEP-2019': 'float64', 'IDX-OCT-2019': 'float64', 'IDX-NOV-2019': 'float64', 'IDX-DEC-2019': 'float64', 'IDX-JAN-2020': 'float64', 'IDX-FEB-2020': 'float64', 'IDX-MAR-2020': 'float64',  'IDX-APR-2020': 'float64'})
df.dtypes

Expenditure Category     object
IDX-APR-2019            float64
IDX-MAY-2019            float64
IDX-JUN-2019            float64
IDX-JUL-2019            float64
IDX-AUG-2019            float64
IDX-SEP-2019            float64
IDX-OCT-2019            float64
IDX-NOV-2019            float64
IDX-DEC-2019            float64
IDX-JAN-2020            float64
IDX-FEB-2020            float64
IDX-MAR-2020            float64
IDX-APR-2020            float64
dtype: object

df['Inflation Change JAN->MAR'] = ((df['IDX-MAR-2020'] - df['IDX-JAN-2020']) / df['IDX-JAN-2020']) * 100

JAN_20_SUM = df.loc[[1, 6, 7, 8, 9, 10 , 11, 12], 'IDX-JAN-2020'].sum()
MAR_20_SUM = df.loc[[1, 6, 7, 8, 9, 10 , 11, 12], 'IDX-MAR-2020'].sum()

TOTAL_INFL_PERC = ((MAR_20_SUM - JAN_20_SUM) / JAN_20_SUM) * 100

TOTAL_INFL_PERC

In [25]:
df

,Expenditure Category,IDX-APR-2019,IDX-MAY-2019,IDX-JUN-2019,IDX-JUL-2019,IDX-AUG-2019,IDX-SEP-2019,IDX-OCT-2019,IDX-NOV-2019,IDX-DEC-2019,IDX-JAN-2020,IDX-FEB-2020,IDX-MAR-2020,IDX-APR-2020
0,All items,255.548,256.092,256.143,256.571,256.558,256.759,257.346,257.208,256.974,257.971,258.678,258.115,256.389
1,Food,257.708,258.110,258.064,258.274,258.410,258.943,259.632,259.467,259.823,261.057,261.876,262.708,266.757
2,Cereals and bakery products,276.640,277.795,276.891,277.490,276.619,277.308,276.470,276.166,275.036,275.916,276.641,277.646,285.160
3,"Meats, poultry, fish, and eggs",249.203,250.356,249.231,250.033,249.277,249.740,250.592,250.491,252.893,252.905,253.396,254.724,266.263
4,Dairy and related products,217.510,217.841,217.433,217.626,218.758,219.771,220.738,221.515,221.924,223.035,224.443,225.627,228.755
5,Fruits and vegetables,303.503,302.352,298.611,299.350,298.600,297.309,301.318,297.472,297.105,301.679,299.817,299.641,304.809
6,Housing,264.452,265.137,266.461,267.101,267.263,267.822,267.794,267.925,268.236,269.468,270.281,270.273,270.184
7,Other services,357.646,357.190,357.493,358.051,359.320,359.723,360.968,362.303,363.215,364.536,364.767,365.516,365.780
8,Transportation,214.142,215.391,213.073,213.405,211.084,209.350,210.487,209.763,208.482,208.284,207.772,203.854,193.732
9,Medical care,493.331,494.928,495.563,497.687,500.916,501.468,506.100,507.541,509.689,512.149,513.923,515.605,517.053
10,Education and communication,137.182,137.199,137.344,137.595,138.154,138.409,138.529,138.920,138.839,139.132,139.256,139.199,139.378
11,Recreation,120.821,120.254,120.145,120.128,120.458,120.357,120.982,121.381,121.545,121.986,122.067,122.265,121.935
12,Other goods and services,448.658,449.896,449.345,451.709,453.074,453.193,455.225,456.262,455.413,458.336,460.144,461.495,461.294

## Abreviations to Use:
Replace the file name below with one of the following corresponding to your city:
    
    San Fransisco --> SF --> ./SF_CPI.csv
    Los Angeles --> LA   --> ./LA_CPI.csv
    San Diego --> SD     --> ./SD_CPI.csv
    Bakersfield --> BF   --> ./BF_CPI.csv

In [26]:
df.to_csv('../CPI_Clean/US_Clean_CPI_APR19-20.csv', index = False)

Now just **restart and run all** from the Kernal