In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv("CPI-Export-Import.csv")
df2 = pd.read_csv("H1N1_food_data.csv")
df2

,Month,breakfast,meat,dairy,fruits,food_total,Housing,apparel,transport,medical,recreation,education,others,cost_of_living
0,April 2009,252.709,205.699,197.124,274.297,-,217.126,123.208,171.987,374.170,114.625,126.273,370.606,-
1,May 2009,252.714,203.789,196.055,274.006,-,216.971,121.751,175.997,375.026,114.264,126.467,369.901,-
2,June 2009,253.008,204.031,197.197,272.608,-,218.071,118.799,183.735,375.093,114.643,126.519,370.595,-
3,July 2009,253.391,201.743,193.118,270.940,-,218.085,115.620,182.798,375.739,114.619,126.914,372.894,-
4,August 2009,252.382,202.911,192.381,267.309,-,217.827,117.130,184.386,376.537,114.755,128.128,372.699,-
5,September 2009,251.231,201.755,193.353,267.609,-,217.178,122.476,183.932,377.727,114.629,129.035,374.219,-
6,October 2009,251.421,200.597,195.360,269.467,-,216.612,123.998,185.362,378.552,114.157,129.128,375.444,-
7,November 2009,250.600,201.202,193.914,269.832,-,215.808,122.465,188.587,379.575,113.820,128.845,376.702,-
8,December 2009,251.019,201.003,194.792,273.189,-,215.523,119.357,188.318,379.516,113.212,128.883,377.330,-
9,January 2010,250.725,201.870,198.949,279.119,-,215.925,116.678,190.512,382.688,113.310,129.072,377.652,-
10,February 2010,251.361,202.343,198.800,274.963,-,215.841,118.869,189.577,385.907,113.345,129.105,377.992,-
11,March 2010,250.930,202.812,198.814,280.431,-,216.023,122.073,192.130,387.142,113.339,129.236,378.808,-
12,April 2010,250.425,205.178,197.308,279.272,-,215.798,122.143,193.994,387.703,113.781,129.344,378.911,-
13,May 2010,251.269,205.679,197.749,277.887,-,215.981,121.006,194.761,387.762,113.684,129.270,379.714,-
14,June 2010,250.260,208.171,197.947,271.907,-,216.778,118.319,192.651,388.199,113.802,129.263,380.926,-
15,July 2010,250.172,208.989,198.991,265.967,-,217.076,115.248,193.038,387.898,113.689,129.586,383.247,-
16,August 2010,249.736,208.854,198.712,265.914,-,216.976,116.667,193.454,388.467,113.521,130.599,383.685,-

In [3]:
newFood = df2.loc[:,['breakfast', 'meat', 'dairy', 'fruits']]
newCost_living = df2.loc[:, ['Housing', 'apparel', 'transport', 'medical', 'recreation', 'education', 'others']]
newCost_living

    Housing  apparel  transport  medical  recreation  education   others
0   217.126  123.208    171.987  374.170     114.625    126.273  370.606
1   216.971  121.751    175.997  375.026     114.264    126.467  369.901
2   218.071  118.799    183.735  375.093     114.643    126.519  370.595
3   218.085  115.620    182.798  375.739     114.619    126.914  372.894
4   217.827  117.130    184.386  376.537     114.755    128.128  372.699
5   217.178  122.476    183.932  377.727     114.629    129.035  374.219
6   216.612  123.998    185.362  378.552     114.157    129.128  375.444
7   215.808  122.465    188.587  379.575     113.820    128.845  376.702
8   215.523  119.357    188.318  379.516     113.212    128.883  377.330
9   215.925  116.678    190.512  382.688     113.310    129.072  377.652
10  215.841  118.869    189.577  385.907     113.345    129.105  377.992
11  216.023  122.073    192.130  387.142     113.339    129.236  378.808
12  215.798  122.143    193.994  387.703     113.781    129.344  378.911
13  215.981  121.006    194.761  387.762     113.684    129.270  379.714
14  216.778  118.319    192.651  388.199     113.802    129.263  380.926
15  217.076  115.248    193.038  387.898     113.689    129.586  383.247
16  216.976  116.667    193.454  388.467     113.521    130.599  383.685

In [4]:
newFood["food_total"] = newFood.sum(axis=1)
newCost_living["cost_of_living"] = newCost_living.sum(axis=1)
print(newFood)
print(newCost_living)

    breakfast     meat    dairy   fruits  food_total
0     252.709  205.699  197.124  274.297     929.829
1     252.714  203.789  196.055  274.006     926.564
2     253.008  204.031  197.197  272.608     926.844
3     253.391  201.743  193.118  270.940     919.192
4     252.382  202.911  192.381  267.309     914.983
5     251.231  201.755  193.353  267.609     913.948
6     251.421  200.597  195.360  269.467     916.845
7     250.600  201.202  193.914  269.832     915.548
8     251.019  201.003  194.792  273.189     920.003
9     250.725  201.870  198.949  279.119     930.663
10    251.361  202.343  198.800  274.963     927.467
11    250.930  202.812  198.814  280.431     932.987
12    250.425  205.178  197.308  279.272     932.183
13    251.269  205.679  197.749  277.887     932.584
14    250.260  208.171  197.947  271.907     928.285
15    250.172  208.989  198.991  265.967     924.119
16    249.736  208.854  198.712  265.914     923.216
    Housing  apparel  transport  medical  recreation  education   others  \
0   217.126  123.208    171.987  374.170     114.625    126.273  370.606
1   216.971  121.751    175.997  375.026     114.264    126.467  369.901
2   218.071  118.799    183.735  375.093     114.643    126.519  370.595
3   218.085  115.620    182.798  375.739     114.619    126.914  372.894
4   217.827  117.130    184.386  376.537     114.755    128.128  372.699
5   217.178  122.476    183.932  377.727     114.629    129.035  374.219
6   216.612  123.998    185.362  378.552     114.157    129.128  375.444
7   215.808  122.465    188.587  379.575     113.820    128.845  376.702
8   215.523  119.357    188.318  379.516     113.212    128.883  377.330
9   215.925  116.678    190.512  382.688     113.310    129.072  377.652
10  215.841  118.869    189.577  385.907     113.345    129.105  377.992
11  216.023  122.073    192.130  387.142     113.339    129.236  378.808
12  215.798  122.143    193.994  387.703     113.781    129.344  378.911
13  215.981  121.006    194.761  387.762     113.684    129.270  379.714
14  216.778  118.319    192.651  388.199     113.802    129.263  380.926
15  217.076  115.248    193.038  387.898     113.689    129.586  383.247
16  216.976  116.667    193.454  388.467     113.521    130.599  383.685

    cost_of_living
0         1497.995
1         1500.377
2         1507.455
3         1506.669
4         1511.462
5         1519.196
6         1523.253
7         1525.802
8         1522.139
9         1525.837
10        1530.636
11        1538.751
12        1541.674
13        1542.178
14        1539.938
15        1539.782
16        1543.369

In [5]:
newdf2 = pd.concat([newFood, newCost_living], axis=1)
newdf2

,breakfast,meat,dairy,fruits,food_total,Housing,apparel,transport,medical,recreation,education,others,cost_of_living
0,252.709,205.699,197.124,274.297,929.829,217.126,123.208,171.987,374.170,114.625,126.273,370.606,1497.995
1,252.714,203.789,196.055,274.006,926.564,216.971,121.751,175.997,375.026,114.264,126.467,369.901,1500.377
2,253.008,204.031,197.197,272.608,926.844,218.071,118.799,183.735,375.093,114.643,126.519,370.595,1507.455
3,253.391,201.743,193.118,270.940,919.192,218.085,115.620,182.798,375.739,114.619,126.914,372.894,1506.669
4,252.382,202.911,192.381,267.309,914.983,217.827,117.130,184.386,376.537,114.755,128.128,372.699,1511.462
5,251.231,201.755,193.353,267.609,913.948,217.178,122.476,183.932,377.727,114.629,129.035,374.219,1519.196
6,251.421,200.597,195.360,269.467,916.845,216.612,123.998,185.362,378.552,114.157,129.128,375.444,1523.253
7,250.600,201.202,193.914,269.832,915.548,215.808,122.465,188.587,379.575,113.820,128.845,376.702,1525.802
8,251.019,201.003,194.792,273.189,920.003,215.523,119.357,188.318,379.516,113.212,128.883,377.330,1522.139
9,250.725,201.870,198.949,279.119,930.663,215.925,116.678,190.512,382.688,113.310,129.072,377.652,1525.837
10,251.361,202.343,198.800,274.963,927.467,215.841,118.869,189.577,385.907,113.345,129.105,377.992,1530.636
11,250.930,202.812,198.814,280.431,932.987,216.023,122.073,192.130,387.142,113.339,129.236,378.808,1538.751
12,250.425,205.178,197.308,279.272,932.183,215.798,122.143,193.994,387.703,113.781,129.344,378.911,1541.674
13,251.269,205.679,197.749,277.887,932.584,215.981,121.006,194.761,387.762,113.684,129.270,379.714,1542.178
14,250.260,208.171,197.947,271.907,928.285,216.778,118.319,192.651,388.199,113.802,129.263,380.926,1539.938
15,250.172,208.989,198.991,265.967,924.119,217.076,115.248,193.038,387.898,113.689,129.586,383.247,1539.782
16,249.736,208.854,198.712,265.914,923.216,216.976,116.667,193.454,388.467,113.521,130.599,383.685,1543.369

In [6]:
df = pd.concat([df1, newdf2], axis=1)
df

,date,CPI,EX_IM,breakfast,meat,dairy,fruits,food_total,Housing,apparel,transport,medical,recreation,education,others,cost_of_living
0,April 2009,0.0,0.80,252.709,205.699,197.124,274.297,929.829,217.126,123.208,171.987,374.170,114.625,126.273,370.606,1497.995
1,May 2009,0.1,1.05,252.714,203.789,196.055,274.006,926.564,216.971,121.751,175.997,375.026,114.264,126.467,369.901,1500.377
2,June 2009,0.7,1.85,253.008,204.031,197.197,272.608,926.844,218.071,118.799,183.735,375.093,114.643,126.519,370.595,1507.455
3,July 2009,0.0,-0.45,253.391,201.743,193.118,270.940,919.192,218.085,115.620,182.798,375.739,114.619,126.914,372.894,1506.669
4,August 2009,0.4,1.05,252.382,202.911,192.381,267.309,914.983,217.827,117.130,184.386,376.537,114.755,128.128,372.699,1511.462
5,September 2009,0.2,0.00,251.231,201.755,193.353,267.609,913.948,217.178,122.476,183.932,377.727,114.629,129.035,374.219,1519.196
6,October 2009,0.3,0.45,251.421,200.597,195.360,269.467,916.845,216.612,123.998,185.362,378.552,114.157,129.128,375.444,1523.253
7,November 2009,0.4,1.25,250.600,201.202,193.914,269.832,915.548,215.808,122.465,188.587,379.575,113.820,128.845,376.702,1525.802
8,December 2009,0.1,0.30,251.019,201.003,194.792,273.189,920.003,215.523,119.357,188.318,379.516,113.212,128.883,377.330,1522.139
9,January 2010,0.2,1.00,250.725,201.870,198.949,279.119,930.663,215.925,116.678,190.512,382.688,113.310,129.072,377.652,1525.837
10,February 2010,0.0,-0.20,251.361,202.343,198.800,274.963,927.467,215.841,118.869,189.577,385.907,113.345,129.105,377.992,1530.636
11,March 2010,0.1,0.55,250.930,202.812,198.814,280.431,932.987,216.023,122.073,192.130,387.142,113.339,129.236,378.808,1538.751
12,April 2010,-0.1,1.10,250.425,205.178,197.308,279.272,932.183,215.798,122.143,193.994,387.703,113.781,129.344,378.911,1541.674
13,May 2010,-0.2,-0.05,251.269,205.679,197.749,277.887,932.584,215.981,121.006,194.761,387.762,113.684,129.270,379.714,1542.178
14,June 2010,-0.1,-1.00,250.260,208.171,197.947,271.907,928.285,216.778,118.319,192.651,388.199,113.802,129.263,380.926,1539.938
15,July 2010,0.3,-0.05,250.172,208.989,198.991,265.967,924.119,217.076,115.248,193.038,387.898,113.689,129.586,383.247,1539.782
16,August 2010,0.3,0.70,249.736,208.854,198.712,265.914,923.216,216.976,116.667,193.454,388.467,113.521,130.599,383.685,1543.369

In [7]:
df.to_csv('./CPI_Food_H1N1_updated.csv', index = False)