In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('SanDiegoCPI.csv')

In [3]:
pd.set_option("display.max_rows", None, "display.max_columns", None)
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,All items........................................,302.564,-,302.589,1.8,0,-
1,All items (1967=100) ............................,1023.062,-,1023.146,-,-,-
2,Food and beverages ..............................,262.528,-,265.155,0.8,1,-
3,Food ............................................,261.528,-,263.347,0.8,0.7,-
4,Food at home ....................................,230.671,231.374,233.133,0.1,1.1,0.8
5,Cereals and bakery products .....................,260.540,-,256.531,-3.8,-1.5,-
6,"Meats, poultry, fish, and eggs...................",239.904,-,240.900,-0.1,0.4,-
7,Dairy and related products ......................,193.408,-,194.576,5.1,0.6,-
8,Fruits and vegetables ...........................,260.880,-,264.063,2.2,1.2,-
9,Nonalcoholic beverages and beverage materials(...,256.982,-,265.233,1.9,3.2,-
10,Other food at home ..............................,213.699,-,218.097,-1.7,2.1,-
11,Food away from home..............................,302.504,-,303.360,1.7,0.3,-
12,Food away from home..............................,302.504,-,303.360,1.7,0.3,-
13,Alcoholic beverages .............................,263.403,-,273.876,0.4,4,-
14,Housing .........................................,361.568,-,363.301,2.8,0.5,-
15,Shelter .........................................,412.648,414.188,414.243,2.8,0.4,0
16,Rent of primary residence(2).....................,408.428,408.844,409.457,3.5,0.3,0.1
17,Owners' equiv. rent of residences(2) ...........,436.396,436.139,436.563,3.2,0,0.1
18,Owners' equiv. rent of primary residence(2) .....,436.396,436.139,436.563,3.2,0,0.1
19,Fuels and utilities..............................,342.790,-,345.910,4,0.9,-
20,Household energy ................................,308.284,314.644,311.976,5.2,1.2,-0.8
21,Energy services..................................,304.148,310.817,308.365,5.5,1.4,-0.8
22,Electricity .....................................,290.406,302.165,302.165,5,4,0
23,Utility (piped) gas service .....................,249.092,239.216,230.552,5.9,-7.4,-3.6
24,Household furnishings and operations...........,189.407,-,191.200,2,0.9,-
25,Apparel .........................................,161.111,-,157.971,0.3,-1.9,-
26,Transportation ..................................,231.819,-,223.714,-0.7,-3.5,-
27,Private transportation ..........................,223.798,-,222.269,1.2,-0.7,-
28,New and used motor vehicles(3)...................,105.898,-,107.143,-1.3,1.2,-
29,New vehicles(1)..................................,230.644,-,231.042,1.1,0.2,-
30,Used cars and trucks(1) .........................,226.820,-,234.192,-0.1,3.3,-
31,Motor fuel ......................................,283.929,281.132,271.395,0.9,-4.4,-3.5
32,Gasoline (all types).............................,283.626,280.909,271.195,0.9,-4.4,-3.5
33,"Gasoline, unleaded regular(4)..............",293.004,290.335,281.283,1,-4.0,-3.1
34,"Gasoline, unleaded midgrade(4)(5)......",247.834,245.037,232.893,0.7,-6.0,-5.0
35,"Gasoline, unleaded premium(4) ...........",292.655,289.326,275.712,0.5,-5.8,-4.7
36,Motor vehicle insurance(1) ......................,556.668,-,549.852,2.9,-1.2,-
37,Medical care ....................................,498.962,-,507.904,4.3,1.8,-
38,Recreation(3)....................................,159.728,-,161.577,3.7,1.2,-
39,Education and communication(3)...................,130.384,-,129.186,-2.7,-0.9,-
40,"Tuition, other school fees, and child care(1) ..",1538.385,-,1538.385,-3.6,0,-
41,Other goods and services ........................,411.720,-,414.683,1,0.7,-
42,All items........................................,302.564,-,302.589,1.8,0,-
43,Commodities .....................................,203.197,-,203.920,1,0.4,-
44,Commodities less food & beverages..............,171.845,-,171.515,0.9,-0.2,-
45,Nondurables less food & beverages ...........,206.337,-,202.500,1,-1.9,-
46,Durables ........................................,135.842,-,138.757,0.3,2.1,-
47,Services.........................................,390.676,-,389.958,2.2,-0.2,-
48,All items less medical care .....................,293.305,-,292.915,1.6,-0.1,-
49,All items less shelter...........................,259.123,-,258.580,1.2,-0.2,-
50,Commodities less food ...........................,175.979,-,176.179,0.9,0.1,-
51,Nondurables .....................................,235.690,-,235.303,1.2,-0.2,-
52,Nondurables less food............................,211.900,-,209.435,1.2,-1.2,-
53,Services less rent of shelter(2).................,384.065,-,380.525,1.3,-0.9,-
54,Services less medical care services..............,378.263,-,376.765,1.9,-0.4,-
55,Energy ..........................................,288.936,289.23,281.964,2.3,-2.4,-2.5
56,All items less energy ...........................,306.116,-,306.552,1.7,0.1,-
57,All items less food and energy ..................,315.675,-,315.801,1.8,0,-

In [4]:
df = df.rename({'Unnamed: 0':'Item and Group'}, axis='columns')
df = df.rename({'Unnamed: 1':'Index-Jan_20'}, axis='columns')
df = df.rename({'Unnamed: 2':'Index-Feb_20'}, axis='columns')
df = df.rename({'Unnamed: 3':'Index-Mar_20'}, axis='columns')
df = df.drop(columns = ['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6'])

In [5]:
df

,Item and Group,Index-Jan_20,Index-Feb_20,Index-Mar_20
0,All items........................................,302.564,-,302.589
1,All items (1967=100) ............................,1023.062,-,1023.146
2,Food and beverages ..............................,262.528,-,265.155
3,Food ............................................,261.528,-,263.347
4,Food at home ....................................,230.671,231.374,233.133
5,Cereals and bakery products .....................,260.540,-,256.531
6,"Meats, poultry, fish, and eggs...................",239.904,-,240.900
7,Dairy and related products ......................,193.408,-,194.576
8,Fruits and vegetables ...........................,260.880,-,264.063
9,Nonalcoholic beverages and beverage materials(...,256.982,-,265.233
10,Other food at home ..............................,213.699,-,218.097
11,Food away from home..............................,302.504,-,303.360
12,Food away from home..............................,302.504,-,303.360
13,Alcoholic beverages .............................,263.403,-,273.876
14,Housing .........................................,361.568,-,363.301
15,Shelter .........................................,412.648,414.188,414.243
16,Rent of primary residence(2).....................,408.428,408.844,409.457
17,Owners' equiv. rent of residences(2) ...........,436.396,436.139,436.563
18,Owners' equiv. rent of primary residence(2) .....,436.396,436.139,436.563
19,Fuels and utilities..............................,342.790,-,345.910
20,Household energy ................................,308.284,314.644,311.976
21,Energy services..................................,304.148,310.817,308.365
22,Electricity .....................................,290.406,302.165,302.165
23,Utility (piped) gas service .....................,249.092,239.216,230.552
24,Household furnishings and operations...........,189.407,-,191.200
25,Apparel .........................................,161.111,-,157.971
26,Transportation ..................................,231.819,-,223.714
27,Private transportation ..........................,223.798,-,222.269
28,New and used motor vehicles(3)...................,105.898,-,107.143
29,New vehicles(1)..................................,230.644,-,231.042
30,Used cars and trucks(1) .........................,226.820,-,234.192
31,Motor fuel ......................................,283.929,281.132,271.395
32,Gasoline (all types).............................,283.626,280.909,271.195
33,"Gasoline, unleaded regular(4)..............",293.004,290.335,281.283
34,"Gasoline, unleaded midgrade(4)(5)......",247.834,245.037,232.893
35,"Gasoline, unleaded premium(4) ...........",292.655,289.326,275.712
36,Motor vehicle insurance(1) ......................,556.668,-,549.852
37,Medical care ....................................,498.962,-,507.904
38,Recreation(3)....................................,159.728,-,161.577
39,Education and communication(3)...................,130.384,-,129.186
40,"Tuition, other school fees, and child care(1) ..",1538.385,-,1538.385
41,Other goods and services ........................,411.720,-,414.683
42,All items........................................,302.564,-,302.589
43,Commodities .....................................,203.197,-,203.920
44,Commodities less food & beverages..............,171.845,-,171.515
45,Nondurables less food & beverages ...........,206.337,-,202.500
46,Durables ........................................,135.842,-,138.757
47,Services.........................................,390.676,-,389.958
48,All items less medical care .....................,293.305,-,292.915
49,All items less shelter...........................,259.123,-,258.580
50,Commodities less food ...........................,175.979,-,176.179
51,Nondurables .....................................,235.690,-,235.303
52,Nondurables less food............................,211.900,-,209.435
53,Services less rent of shelter(2).................,384.065,-,380.525
54,Services less medical care services..............,378.263,-,376.765
55,Energy ..........................................,288.936,289.23,281.964
56,All items less energy ...........................,306.116,-,306.552
57,All items less food and energy ..................,315.675,-,315.801

In [6]:
df = df.reset_index(drop=True)
df['Item and Group'] = df['Item and Group'].str.strip('.123456789() ')
df = df.replace(' -', np.NaN)
df.at[9,'Item and Group']= "Nonalcoholic beverages and beverage materials"
df

,Item and Group,Index-Jan_20,Index-Feb_20,Index-Mar_20
0,All items,302.564,NaN,302.589
1,All items (1967=100,1023.062,NaN,1023.146
2,Food and beverages,262.528,NaN,265.155
3,Food,261.528,NaN,263.347
4,Food at home,230.671,231.374,233.133
5,Cereals and bakery products,260.540,NaN,256.531
6,"Meats, poultry, fish, and eggs",239.904,NaN,240.900
7,Dairy and related products,193.408,NaN,194.576
8,Fruits and vegetables,260.880,NaN,264.063
9,Nonalcoholic beverages and beverage materials,256.982,NaN,265.233
10,Other food at home,213.699,NaN,218.097
11,Food away from home,302.504,NaN,303.360
12,Food away from home,302.504,NaN,303.360
13,Alcoholic beverages,263.403,NaN,273.876
14,Housing,361.568,NaN,363.301
15,Shelter,412.648,414.188,414.243
16,Rent of primary residence,408.428,408.844,409.457
17,Owners' equiv. rent of residences,436.396,436.139,436.563
18,Owners' equiv. rent of primary residence,436.396,436.139,436.563
19,Fuels and utilities,342.790,NaN,345.910
20,Household energy,308.284,314.644,311.976
21,Energy services,304.148,310.817,308.365
22,Electricity,290.406,302.165,302.165
23,Utility (piped) gas service,249.092,239.216,230.552
24,Household furnishings and operations,189.407,NaN,191.200
25,Apparel,161.111,NaN,157.971
26,Transportation,231.819,NaN,223.714
27,Private transportation,223.798,NaN,222.269
28,New and used motor vehicles,105.898,NaN,107.143
29,New vehicles,230.644,NaN,231.042
30,Used cars and trucks,226.820,NaN,234.192
31,Motor fuel,283.929,281.132,271.395
32,Gasoline (all types,283.626,280.909,271.195
33,"Gasoline, unleaded regular",293.004,290.335,281.283
34,"Gasoline, unleaded midgrade",247.834,245.037,232.893
35,"Gasoline, unleaded premium",292.655,289.326,275.712
36,Motor vehicle insurance,556.668,NaN,549.852
37,Medical care,498.962,NaN,507.904
38,Recreation,159.728,NaN,161.577
39,Education and communication,130.384,NaN,129.186
40,"Tuition, other school fees, and child care",1538.385,NaN,1538.385
41,Other goods and services,411.720,NaN,414.683
42,All items,302.564,NaN,302.589
43,Commodities,203.197,NaN,203.920
44,Commodities less food & beverages,171.845,NaN,171.515
45,Nondurables less food & beverages,206.337,NaN,202.500
46,Durables,135.842,NaN,138.757
47,Services,390.676,NaN,389.958
48,All items less medical care,293.305,NaN,292.915
49,All items less shelter,259.123,NaN,258.580
50,Commodities less food,175.979,NaN,176.179
51,Nondurables,235.690,NaN,235.303
52,Nondurables less food,211.900,NaN,209.435
53,Services less rent of shelter,384.065,NaN,380.525
54,Services less medical care services,378.263,NaN,376.765
55,Energy,288.936,289.23,281.964
56,All items less energy,306.116,NaN,306.552
57,All items less food and energy,315.675,NaN,315.801

In [7]:
df = df.loc[0:41,:]
df

,Item and Group,Index-Jan_20,Index-Feb_20,Index-Mar_20
0,All items,302.564,NaN,302.589
1,All items (1967=100,1023.062,NaN,1023.146
2,Food and beverages,262.528,NaN,265.155
3,Food,261.528,NaN,263.347
4,Food at home,230.671,231.374,233.133
5,Cereals and bakery products,260.540,NaN,256.531
6,"Meats, poultry, fish, and eggs",239.904,NaN,240.900
7,Dairy and related products,193.408,NaN,194.576
8,Fruits and vegetables,260.880,NaN,264.063
9,Nonalcoholic beverages and beverage materials,256.982,NaN,265.233
10,Other food at home,213.699,NaN,218.097
11,Food away from home,302.504,NaN,303.360
12,Food away from home,302.504,NaN,303.360
13,Alcoholic beverages,263.403,NaN,273.876
14,Housing,361.568,NaN,363.301
15,Shelter,412.648,414.188,414.243
16,Rent of primary residence,408.428,408.844,409.457
17,Owners' equiv. rent of residences,436.396,436.139,436.563
18,Owners' equiv. rent of primary residence,436.396,436.139,436.563
19,Fuels and utilities,342.790,NaN,345.910
20,Household energy,308.284,314.644,311.976
21,Energy services,304.148,310.817,308.365
22,Electricity,290.406,302.165,302.165
23,Utility (piped) gas service,249.092,239.216,230.552
24,Household furnishings and operations,189.407,NaN,191.200
25,Apparel,161.111,NaN,157.971
26,Transportation,231.819,NaN,223.714
27,Private transportation,223.798,NaN,222.269
28,New and used motor vehicles,105.898,NaN,107.143
29,New vehicles,230.644,NaN,231.042
30,Used cars and trucks,226.820,NaN,234.192
31,Motor fuel,283.929,281.132,271.395
32,Gasoline (all types,283.626,280.909,271.195
33,"Gasoline, unleaded regular",293.004,290.335,281.283
34,"Gasoline, unleaded midgrade",247.834,245.037,232.893
35,"Gasoline, unleaded premium",292.655,289.326,275.712
36,Motor vehicle insurance,556.668,NaN,549.852
37,Medical care,498.962,NaN,507.904
38,Recreation,159.728,NaN,161.577
39,Education and communication,130.384,NaN,129.186
40,"Tuition, other school fees, and child care",1538.385,NaN,1538.385
41,Other goods and services,411.720,NaN,414.683

In [8]:
df = df.drop([1, 2, 4, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 40])
df

                    Item and Group  Index-Jan_20 Index-Feb_20  Index-Mar_20
0                        All items       302.564          NaN       302.589
3                             Food       261.528          NaN       263.347
5      Cereals and bakery products       260.540          NaN       256.531
6   Meats, poultry, fish, and eggs       239.904          NaN       240.900
7       Dairy and related products       193.408          NaN       194.576
8            Fruits and vegetables       260.880          NaN       264.063
14                         Housing       361.568          NaN       363.301
25                         Apparel       161.111          NaN       157.971
26                  Transportation       231.819          NaN       223.714
37                    Medical care       498.962          NaN       507.904
38                      Recreation       159.728          NaN       161.577
39     Education and communication       130.384          NaN       129.186
41        Other goods and services       411.720          NaN       414.683

In [9]:
df = df.reset_index(drop=True)
df

                    Item and Group  Index-Jan_20 Index-Feb_20  Index-Mar_20
0                        All items       302.564          NaN       302.589
1                             Food       261.528          NaN       263.347
2      Cereals and bakery products       260.540          NaN       256.531
3   Meats, poultry, fish, and eggs       239.904          NaN       240.900
4       Dairy and related products       193.408          NaN       194.576
5            Fruits and vegetables       260.880          NaN       264.063
6                          Housing       361.568          NaN       363.301
7                          Apparel       161.111          NaN       157.971
8                   Transportation       231.819          NaN       223.714
9                     Medical care       498.962          NaN       507.904
10                      Recreation       159.728          NaN       161.577
11     Education and communication       130.384          NaN       129.186
12        Other goods and services       411.720          NaN       414.683

In [10]:
df.to_csv('./SanDiego_CPI_Updated.csv', index = False)